.connection{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  &__bottom-wrapper{
    display:flex;
  }
  &__top-wrapper{
    display: flex;
  }
  &__label{
    flex-grow: 1;
    width: 100%;
  }
}