.text-input{
  border: 1px solid transparent;
  font-size: 1rem;
  margin: 0.25rem;
  outline: none;
  padding: .25rem;
  border-radius: 0.2rem;
  &:focus{
    border: 1px solid rgba(0,0,0,.5);
  }
  &--disabled{
    color: rgba(0,0,0,.35);
    user-select: none;
    &:focus{
      border: 1px solid transparent;
    }
  }
}